!!!
%html
  %head
    %title Butler.io - Professional Email Assistant 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{ :href => 'http://fonts.googleapis.com/css?family=Leckerli+One', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :href => 'http://fonts.googleapis.com/css?family=Capriola', :rel => 'stylesheet', :type => 'text/css' }
    = csrf_meta_tags
  %body
    .content
      .container_12
        %h1.logo.center
          %a{ :href => root_url } Butler.io
        
        %h3.tag-line.center
          Your Mailbox Just Got Better
          
        = yield
